@use '../styles';

.app {
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: styles.$header-height;
  flex: 1;
}

Header {
  position: relative;
  top: 0;
  width: 100%;
  height: styles.$header-height;
}

Footer {
  height: styles.$footer-height;
  margin-top: auto;
}

html {
  background-color: styles.$background-color;
}
